<div class="col-md-12">
  <h1>View/Edit Gig</h1>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Gig:</strong>
      <%= @gig.gig %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @gig.date %>
    </p>

    <p>
      <strong>Info:</strong>
      <%= @gig.info %>
    </p>

    <p>
      <strong>Linkname:</strong>
      <%= @gig.linkname %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= @gig.link %>
    </p>

    <%= link_to 'Edit', edit_gig_path(@gig) %> |
    <%= link_to 'Back', gigs_path %>

</div>
